*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.clear{
    display: none;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(243, 249, 251);
    section{
        margin:150px 25px;
        background-color: white;
        border-radius:10px ;
        border:none;
        height: fit-content;
        display: flex;
        flex-direction: column;
        width: 90%;
        transition: 0.1s;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);


        form{
            display: flex;
            flex-direction: column;
            margin: 30px 20px;
            text-align: center;
            .alert{
                width:100%;
                height: 20px;
                margin-bottom: 5px;
                border-radius:10px;
                text-align: center;
                letter-spacing: 4;
                font-size: small;
                padding-top: 2px;
            }
            h3{
                letter-spacing: 5;
                margin: 20px;
            }
            .inputs{
                width: 100%;
                height: 30px;
                display: flex;
                border: none;
                margin-bottom: 20px;
                input{
                    flex:0.8;
                    border-radius:10px 0px 0px 10px ;
                    padding-left: 10px;
                    font-size: 1em;
                    border: none;
                    background-color: rgb(225, 237, 241);
                    color:grey;
                    letter-spacing: 2;
                }
                button{
                    flex: 0.2;
                    border-radius:0px 10px 10px 0px ;
                    font-size: 1em;
                    letter-spacing: 1;
                    border: none;
                    background-color: rgb(152, 220, 247);
                    transition: 0.4s;
                    cursor: pointer;

                    &:hover{
                        background-color: rgb(31, 93, 180);
                        color: rgb(255, 255, 255);
                    }
                }
            }
            .listItems{
                display: flex;
                justify-content: space-between;
                margin: 5px 0 0;
                padding:6px 15px;
                transition:0.4s;
                border-radius:10px ;
                color: rgb(31, 29, 29);
                letter-spacing: 2;
                p{
                    width: 70%;
                    text-align: start;
                }
                &:hover{
                    background-color:rgb(225, 237, 241);
                    color: gray;
                }
                .icons{
                    width: 10%;
                    display: flex;
                    justify-content: space-between;
                    button{
                        background-color: transparent;
                        border: none;
                        transition: 0.4s;
                    }
                    .pen{
                        color: green;
                        cursor: pointer;
                        transition: 0.4s;
                        &:hover{
                            color: rgb(0, 94, 0);
                        }
                    }
                    .trash{
                        color: rgb(233, 76, 76);
                        cursor: pointer;
                        transition: 0.4s;
                          &:hover{
                            color: rgb(161, 1, 1);
                        }
                    }
                }
            }
            .clearItems{
                margin: 0 auto;
                border: none;
                width:120px;
                height: 20px;
                font-size: 0.8em;
                letter-spacing: 3;
                color: red;
                background-color: transparent;
                cursor: pointer;
                transition: 0.4s;
                &:hover{
                    color: rgb(179, 3, 3);
                    font-size: 1em;
                }

            }
        }
    }
    @media (min-width:700px){
        section{
            width: 700px;
        }
    }
}